body.homepage {
    background-image: url("../images/start_page.jpg");
}

.navbar-brand > img {
    display: block;
    width: 55%;
}

.navbar-brand {
    padding: 0px;
}

.homepage-main-block {
    margin-top: 25%;
}

.homepage-main-block h1 {
    color: #ddd;
    text-align: center;
    padding: 20% 0px;
}

.login-block, .signup-block {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 10px;
}

.login-block h1, .signup-block h1 {
    text-align: left;
    margin: 0px;
    color: #666;
    padding: 10px 0px;
}

.login-block a, .signup-block a {
    float: right;
}

.error {
    color: #a94442;
}

.menu-profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: -25px;
}

/*
Dashboard Styling
*/

/*body.dashboard{*/
/*background-image: url("../images/inner_page.jpg");*/
/*}*/

/*body.dashboard .container{*/
/*background-color: rgba(255,255,255,.80);*/
/*}*/

.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post button {
    margin-top: 10px;
}

.new-post header {
    margin-bottom: 20px;
}

.posts {
    margin-top: 50px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
}